@import "~bootstrap/scss/bootstrap";
@import "../../../../styles.scss";

.btn-primary {
  background-color: transparent;
  border-color: $colorPrimario !important;

  &:enabled,
  &:visited,
  &:hover,
  &:focus,
  &:active,
  &:after {
    background-color: $colorPrimario !important;
    border-color: white;
  }
}

.min-height {
  min-height: 300px;
}
