@import "../../../styles.scss";

$colorShared: rgba(31, 41, 55, 1);

/* .cardBody {
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: $colorFondo;

  img {
    max-width: 300px;
    max-height: auto;
  }
}
 */
