<div class="colorFondo">
  <div class="hr"></div>
  <div class="justify-center">
    <div class="max-w-7xl mx-auto">
      <div class="mx-4 flex justify-between">
        <button class="btn-body" (click)="cargarMenu(0)">
          <p class="colorIconos font-serif text-lg">Entradas</p>
        </button>
        <button class="btn-body" (click)="cargarMenu(1)">
          <p class="colorIconos font-serif text-lg">Platos Fuertes</p>
        </button>
        <button class="btn-body" (click)="cargarMenu(2)">
          <p class="colorIconos font-serif text-lg">Postres</p>
        </button>
        <button class="btn-body" (click)="cargarMenu(3)">
          <p class="colorIconos font-serif text-lg">Bebidas</p>
        </button>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <div
      [ngSwitch]="opcionMenu"
      class="place-items-center grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3"
    >
      <!--*ngIf="opcionMenu == 1"  -->
      <div
        *ngFor="let item of datos.section_2.type_menu[opcionMenu].menu"
        class="cardBody"
      >
        <div class="colorIconos mt-4">
          {{ item.title }}
        </div>
        <img src="{{ item.img }}" alt="" class="" />
        <div class="colorDescripcion">
          {{ item.description }}
        </div>
        <div class="colorIconos">
          {{ item.price | currency }}
        </div>
      </div>
    </div>
  </div>
</div>
