<div class="hr"></div>
<div
  class="
    footer
    w-full
    text-gray-700
    colorShared
    dark-mode:text-gray-200 dark-mode:bg-gray-800
  "
>
  <div
    class="
      flex flex-col
      max-w-screen-xl
      px-4
      mx-auto
      justify-center
      md:items-center md:justify-between md:flex-row md:px-6
      lg:px-8
    "
  >
    <div
      class="p-4 flex flex-row items-center justify-center md:justify-between"
    >
      <img
        class="h-20 sm:h-24 md:h-28 w-auto"
        [src]="datos?.footer?.logo_footer"
        alt=""
      />
    </div>
    <!--  <div class="px-20 sm:bg-black sm:px-32 md:bg-white md:px-0"> -->

    <div class="grid md:mt-10">
      <nav class="flex justify-center">
        <div class="grid justify-items-center">
          <i class="colorIconos fas fa-map-marker-alt"></i>
          <a class="datosFooter">{{ datos?.footer?.contacto?.direccion }}</a>
        </div>
        <div class="grid justify-items-center">
          <i class="colorIconos fas fa-phone-square"></i>
          <a class="datosFooter">{{ datos?.footer?.contacto?.telefono }}</a>
        </div>
        <div class="hidden sm:flex">
          <div class="grid justify-items-center">
            <i class="colorIconos far fa-envelope"></i>
            <a class="datosFooter">{{ datos?.footer?.contacto?.mail }}</a>
          </div>
        </div>
      </nav>
      <div class="sm:hidden">
        <div class="grid justify-items-center">
          <i class="colorIconos far fa-envelope"></i>
          <a class="datosFooter">{{ datos?.footer?.contacto?.mail }}</a>
        </div>
      </div>

      <div class="flex justify-center pb-0">
        <a
          class="colorFacebookDentro"
          href="{{ datos?.footer?.redes?.facebook }} "
          target="_blank"
        >
          <i class="colorFacebook px-4 pb-6 fab fa-facebook-square"></i>
        </a>
        <a href="{{ datos?.footer?.redes?.instagram }} " target="_blank">
          <i class="colorInstagram px-4 pb-6 fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-7 flex items-center">
    <div
      class="ml-3 sm:ml-6 md:ml-10 lg:ml-14 xl:ml-20 2xl:ml-28 col-span-3 hr"
    ></div>
    <div class="col-span-1 flex justify-center">
      <i class="colorIconos far fa-circle"></i>
    </div>
    <div
      class="mr-3 sm:mr-6 md:mr-10 lg:mr-14 xl:mr-20 2xl:mr-28 col-span-3 hr"
    ></div>
  </div>
  <div class="colorShared text-white flex justify-center">
    <div class="mt-4 mb-4">©2021 Sensais | Desarrollado por Logicel Applab</div>
  </div>
</div>
